* form css */
.subscribe-form {
  height: 40px;
  width: 500px;
  position: absolute;
  bottom: -24%;
  left: 0%;
} 
.subscribe-form svg.send {
  position: absolute;
  top: 42%;
  left: 4%;
  font-size: 23px;
}

.subscribe-form input {
  height: 57px;
  width: 65%;
  border: 1px solid #ececec;
  border-radius: 50px 0 0 50px;
  box-shadow: none;
  padding-left: 50px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 16px;
}

.subscribe-form button{
  font-size: 16px;
  font-weight: 500;
  padding: 15px 40px;
  color: #ffffff;
  border: none;
  background-color: #3BB77E;
  border: 1px solid #29A56C;
  border-radius: 50px;
  position: relative;
  left: -5%;
} 
