
/****** Shop page css  *********/
.listingProduct {
  background-image: url(../../assets/img/banner/header-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 20px;
  border-radius: 20px;

}

.listingProduct .breadCrumb{
   padding: 50px 0px;
}

.listingProduct .breadCrumb h2{
    font-size: 48px;
    color: #253D4E;
    font-weight: 700;
}

.listingProduct .breadCrumb ul li a{
  color: #7E7E7E;
  font-size: 14px;
  font-weight: 600;

}

/*sidebar  */
.left-sidebar{
   max-width: 20%;
   padding: 0px;
}

.right-sidebar{
  max-width: 80%;
}

.col-lg-9{
  flex: 0 0 auto;
  width: 80%;
}
.right-sidebar .top-strip{
  padding-left: 20px;
}
.right-sidebar .top-strip p{
   padding: 20px 0px;
  font-size: 16px;
}

.right-sidebar .top-strip .ml-auto .tab-item { 
   position: relative;
}

.right-sidebar .top-strip .ml-auto .tab-item .show-btn {
  padding: 7px 13px;
  background: none;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 14px;
  color: #838383;
}

.tab-item ul.dropdown-menu-abc {
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: 9999999;

}


.tab-item ul.dropdown-menu-abc li button{
  background-color: #fff !important;
  font-size: 13px;
  width: 120px;
  font-weight: 500;
  padding: 10px 20px;
  display: inline-block;
  border: none;
  text-align: left;
  transition: all 0.3s ease-in-out;
}
.tab-item ul.dropdown-menu-abc li:hover button{
   background-color: var(--nest-primary) !important;
   color: #fff;
}















