

.productThumb{
  width: 100%;
  height: auto;
  padding: 20px;
  border: 1px solid #ececec;
  border-radius: 15px ;
  background-color: #fff;
  overflow: hidden;

  position: relative;
}
.productThumb .badge{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
  height: 30px;
  background-color: red;
  z-index: 999999;
  display: inline-block;
  border-radius: 15px 0 20px 0;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 9px 20px 10px;
  font-weight: 400;
  text-transform: capitalize;
}

.productThumb .badge.hot{
  background-color: #f74b81;
}
.productThumb .badge.new{
  background-color: var(--nest-primary);
}
.productThumb .badge.sale{
  background-color: #67bcee;
}
.productThumb .badge.best{
  background-color: #f59758;
}
.productThumb:hover{
  background: #fff;
  border: 1px solid #BCE3C9;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out; 
}
.productThumb .product-image{

   height: 245px !important;
   overflow: hidden;
}

.productThumb .product-image .discount {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 70px;
  height: 31px;

  display: inline-block;
  border-radius: 15px 0 20px 0;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  padding: 9px 20px 10px;
  font-weight: 400;
  text-transform: capitalize;
  background-color: var(--nest-primary);
}

.productThumb .product-image .overlay {
  position: absolute;
  left: 65px;
  top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 0;

  transition: all 0.3s ease-in-out;

}

.productThumb:hover .product-image .overlay{ 
  visibility: visible;
  z-index: 999;
}


.productThumb .product-image .overlay ul {
  background-color: #fff;
  width: 103px;
  height: 36px;
  border-radius: 4px;
  color: var(--nest-primary) !important;
  
}
.productThumb .product-image .overlay ul li{
  border-right: 1px solid var(--nest-primary);
  margin-right: 0px;

}

.productThumb .product-image .overlay ul li .pad-tooltip:hover{
  margin: 0px;
  border: none;
  left: 0px !important;
  top: 0px !important;


}

.productThumb .product-image .overlay ul li a{
    display: inline-block;
    padding: 6px 8px;
    font-size: 17px;
    color: var(--nest-primary) !important;
    font-weight: 500;
}
.productThumb .product-image .overlay ul li a:hover{
  color: #fdc040 !important;
}
.productThumb:hover .product-image  img{
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.productThumb .info .category{
  margin-top: 10px;
  color: #adadad  ;
  font-size: 12px;
}

.productThumb .info .title h3{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-bottom: 5px;
  }
  .productThumb .info .review{
    margin-bottom: 5px;
  }

  .productThumb .info .author{
    font-size: 14px;
    color: #B6B6B6 !important;
    padding: 3px 0px;
  }

  .productThumb .info .author p a{
     color: var(--nest-primary);
  }

  .productThumb .info .product-card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .productThumb .info .product-card-bottom .product-price{
    font-size: 18px;
    font-weight: bold;
    color: var(--nest-primary);
  }
  .productThumb .info .product-card-bottom .product-price .old-price{
    font-size: 13px;
    color: #adadad;
    margin: 0 0 0 6px;
    text-decoration: line-through;
  }

  .productThumb .info  .product-cart button {
    position: relative;
    display:block;
    text-align: center;
    margin-top: 5px;
    padding: 8px 12px 6px 6px;
    border-radius: 4px;
    background-color: #DEF9EC;
    color: var(--nest-primary);
    font-size: 15px;
    font-weight: 600;
    border: none;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
  .productThumb .info .product-cart button .cart{
    font-size: 20px;
  }

  .productThumb .info .product-cart button:hover{
    background-color: var(--nest-primary);
    color: #fff !important;
   
  }
